# Derive Column By Example
Copyright (c) Microsoft Corporation. All rights reserved.<br>
Licensed under the MIT License.

One of the more advanced tools in DataPrep is the ability to derive columns by providing examples of desired results and letting DataPrep generate code to achieve the intended derivation.

In [1]:
import azureml.dataprep as dprep

In [2]:
dflow = dprep.read_csv(path='https://dpreptestfiles.blob.core.windows.net/testfiles/BostonWeather.csv')
df = dflow.head(10)
df

,DATE,REPORTTPYE,HOURLYDRYBULBTEMPF,HOURLYRelativeHumidity,HOURLYWindSpeed
0,1/1/2015 0:54,FM-15,22,50,10
1,1/1/2015 1:00,FM-12,22,50,10
2,1/1/2015 1:54,FM-15,22,50,10
3,1/1/2015 2:54,FM-15,22,50,11
4,1/1/2015 3:54,FM-15,24,46,13
5,1/1/2015 4:00,FM-12,24,46,13
6,1/1/2015 4:54,FM-15,22,52,15
7,1/1/2015 5:54,FM-15,23,48,17
8,1/1/2015 6:54,FM-15,23,50,14
9,1/1/2015 7:00,FM-12,23,50,14

As you can see, this is a fairly simple file, but let's assume that we need to be able to join this with a dataset where date and time come in a format 'Mar 10, 2018 | 2AM-4AM'.

Let's wrangle the data into the shape we need.

In [3]:
builder = dflow.builders.derive_column_by_example(source_columns=['DATE'], new_column_name='date_timerange')
builder.add_example(source_data=df.iloc[1], example_value='Jan 1, 2015 12AM-2AM')
builder.preview() # will preview top 10 rows

            DATE        date_timerange
0  1/1/2015 0:54  Jan 1, 2015 12AM-2AM
1  1/1/2015 1:00  Jan 1, 2015 12AM-2AM
2  1/1/2015 1:54  Jan 1, 2015 12AM-2AM
3  1/1/2015 2:54   Jan 1, 2015 2AM-4AM
4  1/1/2015 3:54   Jan 1, 2015 2AM-4AM
5  1/1/2015 4:00   Jan 1, 2015 4AM-6AM
6  1/1/2015 4:54   Jan 1, 2015 4AM-6AM
7  1/1/2015 5:54   Jan 1, 2015 4AM-6AM
8  1/1/2015 6:54   Jan 1, 2015 6AM-8AM
9  1/1/2015 7:00   Jan 1, 2015 6AM-8AM

The code above first creates a builder for the derived column by providing an array of source columns to consider ('DATE') and name for the new column to be added.

Then, we provide the first example by passing in the second row (index 1) of the DataFrame printed above and giving an expected value for the derived column.

Finally, we call `builder.preview()` and observe the derived column next to the source column. So far everything seems fine, but we also only see values for the same date "Jan 1, 2015", so we should look at rows further down by passing in the number of rows we want to "skip" from the top.

In [4]:
preview_df = builder.preview(skip=30)
preview_df

             DATE         date_timerange
0  1/1/2015 22:54  Jan 1, 2015 10PM-12AM
1  1/1/2015 23:54  Jan 1, 2015 10PM-12AM
2  1/1/2015 23:59  Jan 1, 2015 10PM-12AM
3   1/2/2015 0:54   Feb 1, 2015 12AM-2AM
4   1/2/2015 1:00   Feb 1, 2015 12AM-2AM
5   1/2/2015 1:54   Feb 1, 2015 12AM-2AM
6   1/2/2015 2:54    Feb 1, 2015 2AM-4AM
7   1/2/2015 3:54    Feb 1, 2015 2AM-4AM
8   1/2/2015 4:00    Feb 1, 2015 4AM-6AM
9   1/2/2015 4:54    Feb 1, 2015 4AM-6AM

Here we can see an issue with the generated program: based solely on 1 example we provided above, the derive program chose to parse the date as "Day/Month/Year", which is not what we want in this case.

To fix this issue we need to provide another example.

In [5]:
builder.add_example(source_data=preview_df.iloc[3], example_value='Jan 2, 2015 12AM-2AM')
preview_df = builder.preview(skip=30, count=100)
preview_df

               DATE         date_timerange
0    1/1/2015 22:54  Jan 1, 2015 10PM-12AM
1    1/1/2015 23:54  Jan 1, 2015 10PM-12AM
2    1/1/2015 23:59  Jan 1, 2015 10PM-12AM
3     1/2/2015 0:54   Jan 2, 2015 12AM-2AM
4     1/2/2015 1:00   Jan 2, 2015 12AM-2AM
5     1/2/2015 1:54   Jan 2, 2015 12AM-2AM
6     1/2/2015 2:54    Jan 2, 2015 2AM-4AM
7     1/2/2015 3:54    Jan 2, 2015 2AM-4AM
8     1/2/2015 4:00    Jan 2, 2015 4AM-6AM
9     1/2/2015 4:54    Jan 2, 2015 4AM-6AM
10    1/2/2015 5:54    Jan 2, 2015 4AM-6AM
11    1/2/2015 6:54    Jan 2, 2015 6AM-8AM
12    1/2/2015 7:00    Jan 2, 2015 6AM-8AM
13    1/2/2015 7:54    Jan 2, 2015 6AM-8AM
14    1/2/2015 8:54   Jan 2, 2015 8AM-10AM
15    1/2/2015 9:54   Jan 2, 2015 8AM-10AM
16   1/2/2015 10:00  Jan 2, 2015 10AM-12PM
17   1/2/2015 10:54  Jan 2, 2015 10AM-12PM
18   1/2/2015 11:54  Jan 2, 2015 10AM-12PM
19   1/2/2015 12:54   Jan 2, 2015 12PM-2PM
20   1/2/2015 13:00   Jan 2, 2015 12PM-2PM
21   1/2/2015 13:54   Jan 2, 2015 12PM-2PM
22   1/2/2015 14:54    Jan 2, 2015 2PM-4PM
23   1/2/2015 15:54    Jan 2, 2015 2PM-4PM
24   1/2/2015 16:00    Jan 2, 2015 4PM-6PM
25   1/2/2015 16:54    Jan 2, 2015 4PM-6PM
26   1/2/2015 17:54    Jan 2, 2015 4PM-6PM
27   1/2/2015 18:54    Jan 2, 2015 6PM-8PM
28   1/2/2015 19:00    Jan 2, 2015 6PM-8PM
29   1/2/2015 19:54    Jan 2, 2015 6PM-8PM
..              ...                    ...
66  1/29/2015 20:54                   None
67  1/29/2015 21:54                   None
68  1/29/2015 22:00                   None
69  1/29/2015 22:54                   None
70  1/29/2015 23:54                   None
71  1/29/2015 23:59                   None
72   1/30/2015 0:16                   None
73   1/30/2015 0:54                   None
74   1/30/2015 1:00                   None
75   1/30/2015 1:18                   None
76   1/30/2015 1:52                   None
77   1/30/2015 1:54                   None
78   1/30/2015 2:54                   None
79   1/30/2015 3:18                   None
80   1/30/2015 3:39                   None
81   1/30/2015 3:54                   None
82   1/30/2015 4:00                   None
83   1/30/2015 4:49                   None
84   1/30/2015 4:54                   None
85  2/28/2017 19:00                   None
86  2/28/2017 19:52                   None
87  2/28/2017 19:54                   None
88  2/28/2017 20:11                   None
89  2/28/2017 20:52                   None
90  2/28/2017 20:54                   None
91  2/28/2017 21:54                   None
92  2/28/2017 22:00                   None
93  2/28/2017 22:54                   None
94  2/28/2017 23:54                   None
95  2/28/2017 23:59                   None

[96 rows x 2 columns]

Now, rows correctly handle '1/2/2015' as 'Jan 2, 2015', but when we look further down the derived column we can see that values at the end have nothing in derived column. To fix that, we need to provide another example for row 66.

In [6]:
builder.add_example(source_data=preview_df.iloc[66], example_value='Jan 29, 2015 8PM-10PM')
builder.preview(count=100)

               DATE          date_timerange
0     1/1/2015 0:54    Jan 1, 2015 12AM-2AM
1     1/1/2015 1:00    Jan 1, 2015 12AM-2AM
2     1/1/2015 1:54    Jan 1, 2015 12AM-2AM
3     1/1/2015 2:54     Jan 1, 2015 2AM-4AM
4     1/1/2015 3:54     Jan 1, 2015 2AM-4AM
5     1/1/2015 4:00     Jan 1, 2015 4AM-6AM
6     1/1/2015 4:54     Jan 1, 2015 4AM-6AM
7     1/1/2015 5:54     Jan 1, 2015 4AM-6AM
8     1/1/2015 6:54     Jan 1, 2015 6AM-8AM
9     1/1/2015 7:00     Jan 1, 2015 6AM-8AM
10    1/1/2015 7:54     Jan 1, 2015 6AM-8AM
11    1/1/2015 8:54    Jan 1, 2015 8AM-10AM
12    1/1/2015 9:54    Jan 1, 2015 8AM-10AM
13   1/1/2015 10:00   Jan 1, 2015 10AM-12PM
14   1/1/2015 10:54   Jan 1, 2015 10AM-12PM
15   1/1/2015 11:54   Jan 1, 2015 10AM-12PM
16   1/1/2015 12:54    Jan 1, 2015 12PM-2PM
17   1/1/2015 13:00    Jan 1, 2015 12PM-2PM
18   1/1/2015 13:54    Jan 1, 2015 12PM-2PM
19   1/1/2015 14:54     Jan 1, 2015 2PM-4PM
20   1/1/2015 15:54     Jan 1, 2015 2PM-4PM
21   1/1/2015 16:00     Jan 1, 2015 4PM-6PM
22   1/1/2015 16:54     Jan 1, 2015 4PM-6PM
23   1/1/2015 17:54     Jan 1, 2015 4PM-6PM
24   1/1/2015 18:54     Jan 1, 2015 6PM-8PM
25   1/1/2015 19:00     Jan 1, 2015 6PM-8PM
26   1/1/2015 19:54     Jan 1, 2015 6PM-8PM
27   1/1/2015 20:54    Jan 1, 2015 8PM-10PM
28   1/1/2015 21:54    Jan 1, 2015 8PM-10PM
29   1/1/2015 22:00   Jan 1, 2015 10PM-12AM
..              ...                     ...
70    1/3/2015 3:54     Jan 3, 2015 2AM-4AM
71    1/3/2015 4:00     Jan 3, 2015 4AM-6AM
72    1/3/2015 4:54     Jan 3, 2015 4AM-6AM
73    1/3/2015 5:54     Jan 3, 2015 4AM-6AM
74    1/3/2015 6:54     Jan 3, 2015 6AM-8AM
75    1/3/2015 7:00     Jan 3, 2015 6AM-8AM
76    1/3/2015 7:54     Jan 3, 2015 6AM-8AM
77   1/29/2015 6:54    Jan 29, 2015 6AM-8AM
78   1/29/2015 7:00    Jan 29, 2015 6AM-8AM
79   1/29/2015 7:54    Jan 29, 2015 6AM-8AM
80   1/29/2015 8:54   Jan 29, 2015 8AM-10AM
81   1/29/2015 9:54   Jan 29, 2015 8AM-10AM
82  1/29/2015 10:00  Jan 29, 2015 10AM-12PM
83  1/29/2015 10:54  Jan 29, 2015 10AM-12PM
84  1/29/2015 11:54  Jan 29, 2015 10AM-12PM
85  1/29/2015 12:54   Jan 29, 2015 12PM-2PM
86  1/29/2015 13:00   Jan 29, 2015 12PM-2PM
87  1/29/2015 13:54   Jan 29, 2015 12PM-2PM
88  1/29/2015 14:54    Jan 29, 2015 2PM-4PM
89  1/29/2015 15:54    Jan 29, 2015 2PM-4PM
90  1/29/2015 16:00    Jan 29, 2015 4PM-6PM
91  1/29/2015 16:54    Jan 29, 2015 4PM-6PM
92  1/29/2015 17:54    Jan 29, 2015 4PM-6PM
93  1/29/2015 18:54    Jan 29, 2015 6PM-8PM
94  1/29/2015 19:00    Jan 29, 2015 6PM-8PM
95  1/29/2015 19:54    Jan 29, 2015 6PM-8PM
96  1/29/2015 20:54   Jan 29, 2015 8PM-10PM
97  1/29/2015 21:54   Jan 29, 2015 8PM-10PM
98  1/29/2015 22:00  Jan 29, 2015 10PM-12AM
99  1/29/2015 22:54  Jan 29, 2015 10PM-12AM

[100 rows x 2 columns]

Everything looks good here. However, we just noticed that it's not quite what we wanted. We forgot to separate date and time range by '|' to generate the format we need.

To fix that, we will add another example. This time, instead of passing in a row from the preview, we just construct a dictionary of column name to value for the source_data parameter.

In [7]:
builder.add_example(source_data={'DATE': '11/11/2015 0:54'}, example_value='Nov 11, 2015 | 12AM-2AM')
builder.preview(count=100)

               DATE         date_timerange
0     1/1/2015 0:54                   None
1     1/1/2015 1:00   Jan 1, 2015 12AM-2AM
2     1/1/2015 1:54                   None
3     1/1/2015 2:54                   None
4     1/1/2015 3:54                   None
5     1/1/2015 4:00                   None
6     1/1/2015 4:54                   None
7     1/1/2015 5:54                   None
8     1/1/2015 6:54                   None
9     1/1/2015 7:00                   None
10    1/1/2015 7:54                   None
11    1/1/2015 8:54                   None
12    1/1/2015 9:54                   None
13   1/1/2015 10:00                   None
14   1/1/2015 10:54                   None
15   1/1/2015 11:54                   None
16   1/1/2015 12:54                   None
17   1/1/2015 13:00                   None
18   1/1/2015 13:54                   None
19   1/1/2015 14:54                   None
20   1/1/2015 15:54                   None
21   1/1/2015 16:00                   None
22   1/1/2015 16:54                   None
23   1/1/2015 17:54                   None
24   1/1/2015 18:54                   None
25   1/1/2015 19:00                   None
26   1/1/2015 19:54                   None
27   1/1/2015 20:54                   None
28   1/1/2015 21:54                   None
29   1/1/2015 22:00                   None
..              ...                    ...
70    1/3/2015 3:54                   None
71    1/3/2015 4:00                   None
72    1/3/2015 4:54                   None
73    1/3/2015 5:54                   None
74    1/3/2015 6:54                   None
75    1/3/2015 7:00                   None
76    1/3/2015 7:54                   None
77   1/29/2015 6:54                   None
78   1/29/2015 7:00                   None
79   1/29/2015 7:54                   None
80   1/29/2015 8:54                   None
81   1/29/2015 9:54                   None
82  1/29/2015 10:00                   None
83  1/29/2015 10:54                   None
84  1/29/2015 11:54                   None
85  1/29/2015 12:54                   None
86  1/29/2015 13:00                   None
87  1/29/2015 13:54                   None
88  1/29/2015 14:54                   None
89  1/29/2015 15:54                   None
90  1/29/2015 16:00                   None
91  1/29/2015 16:54                   None
92  1/29/2015 17:54                   None
93  1/29/2015 18:54                   None
94  1/29/2015 19:00                   None
95  1/29/2015 19:54                   None
96  1/29/2015 20:54  Jan 29, 2015 8PM-10PM
97  1/29/2015 21:54                   None
98  1/29/2015 22:00                   None
99  1/29/2015 22:54                   None

[100 rows x 2 columns]

This clearly had negative effects, as now the only rows that have any values in derived column are the ones that match exactly with the examples we have provided.

Let's look at the examples:

In [8]:
examples = builder.list_examples()
examples

              DATE                  example  example_id
0    1/1/2015 1:00     Jan 1, 2015 12AM-2AM          -1
1    1/2/2015 0:54     Jan 2, 2015 12AM-2AM          -2
2  1/29/2015 20:54    Jan 29, 2015 8PM-10PM          -3
3  11/11/2015 0:54  Nov 11, 2015 | 12AM-2AM          -4

Here we can see that we have provided inconsistent examples. To fix the issue, we need to replace the first three examples with correct ones (including '|' between date and time).

We can achieve this by deleting examples that are incorrect (by either passing in example_row from examples DataFrame, or by just passing in example_id value) and then adding new modified examples back.

In [9]:
builder.delete_example(example_id=-1)
builder.delete_example(example_row=examples.iloc[1])
builder.delete_example(example_row=examples.iloc[2])
builder.add_example(examples.iloc[0], 'Jan 1, 2015 | 12AM-2AM')
builder.add_example(examples.iloc[1], 'Jan 2, 2015 | 12AM-2AM')
builder.add_example(examples.iloc[2], 'Jan 29, 2015 | 8PM-10PM')
builder.preview()

            DATE          date_timerange
0  1/1/2015 0:54  Jan 1, 2015 | 12AM-2AM
1  1/1/2015 1:00  Jan 1, 2015 | 12AM-2AM
2  1/1/2015 1:54  Jan 1, 2015 | 12AM-2AM
3  1/1/2015 2:54   Jan 1, 2015 | 2AM-4AM
4  1/1/2015 3:54   Jan 1, 2015 | 2AM-4AM
5  1/1/2015 4:00   Jan 1, 2015 | 4AM-6AM
6  1/1/2015 4:54   Jan 1, 2015 | 4AM-6AM
7  1/1/2015 5:54   Jan 1, 2015 | 4AM-6AM
8  1/1/2015 6:54   Jan 1, 2015 | 6AM-8AM
9  1/1/2015 7:00   Jan 1, 2015 | 6AM-8AM

Now this looks correct and we can finally call to_dataflow() on the builder, which would return a dataflow with the desired derived columns added.

In [10]:
dflow = builder.to_dataflow()

In [11]:
df = dflow.to_pandas_dataframe()
df

,DATE,date_timerange,REPORTTPYE,HOURLYDRYBULBTEMPF,HOURLYRelativeHumidity,HOURLYWindSpeed
0,1/1/2015 0:54,"Jan 1, 2015 | 12AM-2AM",FM-15,22,50,10
1,1/1/2015 1:00,"Jan 1, 2015 | 12AM-2AM",FM-12,22,50,10
2,1/1/2015 1:54,"Jan 1, 2015 | 12AM-2AM",FM-15,22,50,10
3,1/1/2015 2:54,"Jan 1, 2015 | 2AM-4AM",FM-15,22,50,11
4,1/1/2015 3:54,"Jan 1, 2015 | 2AM-4AM",FM-15,24,46,13
5,1/1/2015 4:00,"Jan 1, 2015 | 4AM-6AM",FM-12,24,46,13
6,1/1/2015 4:54,"Jan 1, 2015 | 4AM-6AM",FM-15,22,52,15
7,1/1/2015 5:54,"Jan 1, 2015 | 4AM-6AM",FM-15,23,48,17
8,1/1/2015 6:54,"Jan 1, 2015 | 6AM-8AM",FM-15,23,50,14
9,1/1/2015 7:00,"Jan 1, 2015 | 6AM-8AM",FM-12,23,50,14
10,1/1/2015 7:54,"Jan 1, 2015 | 6AM-8AM",FM-15,22,52,13
11,1/1/2015 8:54,"Jan 1, 2015 | 8AM-10AM",FM-15,25,44,16
12,1/1/2015 9:54,"Jan 1, 2015 | 8AM-10AM",FM-15,28,39,14
13,1/1/2015 10:00,"Jan 1, 2015 | 10AM-12PM",FM-12,28,39,14
14,1/1/2015 10:54,"Jan 1, 2015 | 10AM-12PM",FM-15,30,34,18
15,1/1/2015 11:54,"Jan 1, 2015 | 10AM-12PM",FM-15,31,35,17
16,1/1/2015 12:54,"Jan 1, 2015 | 12PM-2PM",FM-15,32,33,16
17,1/1/2015 13:00,"Jan 1, 2015 | 12PM-2PM",FM-12,32,33,16
18,1/1/2015 13:54,"Jan 1, 2015 | 12PM-2PM",FM-15,33,32,14
19,1/1/2015 14:54,"Jan 1, 2015 | 2PM-4PM",FM-15,33,33,16
20,1/1/2015 15:54,"Jan 1, 2015 | 2PM-4PM",FM-15,31,36,13
21,1/1/2015 16:00,"Jan 1, 2015 | 4PM-6PM",FM-12,31,36,13
22,1/1/2015 16:54,"Jan 1, 2015 | 4PM-6PM",FM-15,31,38,14
23,1/1/2015 17:54,"Jan 1, 2015 | 4PM-6PM",FM-15,30,41,16
24,1/1/2015 18:54,"Jan 1, 2015 | 6PM-8PM",FM-15,31,40,15
25,1/1/2015 19:00,"Jan 1, 2015 | 6PM-8PM",FM-12,31,40,15
26,1/1/2015 19:54,"Jan 1, 2015 | 6PM-8PM",FM-15,30,41,13
27,1/1/2015 20:54,"Jan 1, 2015 | 8PM-10PM",FM-15,30,47,11
28,1/1/2015 21:54,"Jan 1, 2015 | 8PM-10PM",FM-15,31,47,11
29,1/1/2015 22:00,"Jan 1, 2015 | 10PM-12AM",FM-12,31,47,11
...,...,...,...,...,...,...
96,1/29/2015 20:54,"Jan 29, 2015 | 8PM-10PM",FM-15,28,69,7
97,1/29/2015 21:54,"Jan 29, 2015 | 8PM-10PM",FM-15,28,72,7
98,1/29/2015 22:00,"Jan 29, 2015 | 10PM-12AM",FM-12,28,72,7
99,1/29/2015 22:54,"Jan 29, 2015 | 10PM-12AM",FM-15,28,75,6
100,1/29/2015 23:54,"Jan 29, 2015 | 10PM-12AM",FM-15,28,78,5
101,1/29/2015 23:59,"Jan 29, 2015 | 10PM-12AM",SOD,NA,NA,NA
102,1/30/2015 0:16,"Jan 30, 2015 | 12AM-2AM",FM-16,28,74,6
103,1/30/2015 0:54,"Jan 30, 2015 | 12AM-2AM",FM-15,28,78,8
104,1/30/2015 1:00,"Jan 30, 2015 | 12AM-2AM",FM-12,28,78,8
105,1/30/2015 1:18,"Jan 30, 2015 | 12AM-2AM",FM-16,28,80,7
106,1/30/2015 1:52,"Jan 30, 2015 | 12AM-2AM",FM-16,28,86,9
107,1/30/2015 1:54,"Jan 30, 2015 | 12AM-2AM",FM-15,29,82,9
108,1/30/2015 2:54,"Jan 30, 2015 | 2AM-4AM",FM-15,30,85,8
109,1/30/2015 3:18,"Jan 30, 2015 | 2AM-4AM",FM-16,30,86,11
110,1/30/2015 3:39,"Jan 30, 2015 | 2AM-4AM",FM-16,30,86,9
111,1/30/2015 3:54,"Jan 30, 2015 | 2AM-4AM",FM-15,30,85,9
112,1/30/2015 4:00,"Jan 30, 2015 | 4AM-6AM",FM-12,30,85,9
113,1/30/2015 4:49,"Jan 30, 2015 | 4AM-6AM",FM-16,30,86,6
114,1/30/2015 4:54,"Jan 30, 2015 | 4AM-6AM",FM-15,31,85,6
115,2/28/2017 19:00,"Feb 28, 2017 | 6PM-8PM",FM-12,48,86,6
116,2/28/2017 19:52,"Feb 28, 2017 | 6PM-8PM",FM-16,48,94,8
117,2/28/2017 19:54,"Feb 28, 2017 | 6PM-8PM",FM-15,48,93,8
118,2/28/2017 20:11,"Feb 28, 2017 | 8PM-10PM",FM-16,48,93,8
119,2/28/2017 20:52,"Feb 28, 2017 | 8PM-10PM",FM-16,48,94,8
120,2/28/2017 20:54,"Feb 28, 2017 | 8PM-10PM",FM-15,48,93,8
121,2/28/2017 21:54,"Feb 28, 2017 | 8PM-10PM",FM-15,48,93,7
122,2/28/2017 22:00,"Feb 28, 2017 | 10PM-12AM",FM-12,48,93,7
123,2/28/2017 22:54,"Feb 28, 2017 | 10PM-12AM",FM-15,48,93,9
124,2/28/2017 23:54,"Feb 28, 2017 | 10PM-12AM",FM-15,48,93,8
125,2/28/2017 23:59,"Feb 28, 2017 | 10PM-12AM",SOD,NA,NA,NA